<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All team assignments
    </h1>

    <a href="/team_assignments/new" class="btn btn-block btn-outline-secondary">
      Add a new team assignment
    </a>
  </div>
</div>

<!-- Ransack Code start -->

<!-- Ransack Code end -->

<!-- Location Map Code start -->

<!-- Location Map Code end -->

<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Bout
        </th>

        <th>
          Team
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @team_assignments.each do |team_assignment| %>
      <tr>
        <!-- Display team_assignment.id start -->
        <td>
          <%= team_assignment.id %>
        </td>
        <!-- Display team_assignment.id end -->

        <!-- Display team_assignment.bout_id start -->
        <td>
          <%= team_assignment.bout_id %>
        </td>
        <!-- Display team_assignment.bout_id end -->

        <!-- Display team_assignment.team_id start -->
        <td>
          <%= team_assignment.team_id %>
        </td>
        <!-- Display team_assignment.team_id end -->

        <!-- Display team_assignment.created_at start -->
        <td>
          <%= time_ago_in_words(team_assignment.created_at) %> ago
        </td>
        <!-- Display team_assignment.created_at end -->

        <!-- Display team_assignment.updated_at start -->
        <td>
          <%= time_ago_in_words(team_assignment.updated_at) %> ago
        </td>
        <!-- Display team_assignment.updated_at end -->

        <td>
          <a href="/team_assignments/<%= team_assignment.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
