<h1>
  Edit round #<%= @round.id %>
</h1>

<hr>

<form action="/update_round/<%= @round.id %>" method="post">

  <div class="form-group">
    <label for="bout_id">
      Bout
    </label>

    <%= select_tag(:bout_id, options_from_collection_for_select(Bout.all, :id, :level_id, @round.bout_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="team_id">
      Team
    </label>

    <%= select_tag(:team_id, options_from_collection_for_select(Team.all, :id, :school_name, @round.team_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="student_id">
      Student
    </label>

    <%= select_tag(:student_id, options_from_collection_for_select(Student.all, :id, :first_name, @round.student_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="time">
      Time
    </label>

    <input type="text" id="time" name="time" class="form-control" value="<%= @round.time %>">
  </div>

  <div class="form-group">
    <label for="score_1">
      Score 1
    </label>

    <input type="text" id="score_1" name="score_1" class="form-control" value="<%= @round.score_1 %>">
  </div>

  <div class="form-group">
    <label for="score_2">
      Score 2
    </label>

    <input type="text" id="score_2" name="score_2" class="form-control" value="<%= @round.score_2 %>">
  </div>

  <div class="form-group">
    <label for="score_3">
      Score 3
    </label>

    <input type="text" id="score_3" name="score_3" class="form-control" value="<%= @round.score_3 %>">
  </div>

  <div class="form-group">
    <label for="score_4">
      Score 4
    </label>

    <input type="text" id="score_4" name="score_4" class="form-control" value="<%= @round.score_4 %>">
  </div>

  <div class="form-group">
    <label for="score_5">
      Score 5
    </label>

    <input type="text" id="score_5" name="score_5" class="form-control" value="<%= @round.score_5 %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update round
  </button>
</form>

<hr>

<a href="/rounds">
  Go back
</a>
