<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All rounds
    </h1>

    <a href="/rounds/new" class="btn btn-block btn-outline-secondary">
      Add a new round
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12 mb-3">
    <%= render partial: "round_templates/rounds_search_form" %>
  </div>
</div>



<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Bout
        </th>

        <th>
          Team
        </th>

        <th>
          Student
        </th>

        <th>
          Time
        </th>

        <th>
          Score 1
        </th>

        <th>
          Score 2
        </th>

        <th>
          Score 3
        </th>

        <th>
          Score 4
        </th>

        <th>
          Score 5
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @rounds.each do |round| %>
      <tr>
        <td>
          <%= round.id %>
        </td>

        <td>
          <% if round.bout.present? %>
            <a href="/bouts/<%= round.bout.id %>">
              <%= round.bout.level_id %>
            </a>
          <% end %>
        </td>

        <td>
          <% if round.team.present? %>
            <a href="/teams/<%= round.team.id %>">
              <%= round.team.school_name %>
            </a>
          <% end %>
        </td>

        <td>
          <% if round.student.present? %>
            <a href="/students/<%= round.student.id %>">
              <%= round.student.first_name %>
            </a>
          <% end %>
        </td>

        <td>
          <%= round.time %>
        </td>

        <td>
          <%= round.score_1 %>
        </td>

        <td>
          <%= round.score_2 %>
        </td>

        <td>
          <%= round.score_3 %>
        </td>

        <td>
          <%= round.score_4 %>
        </td>

        <td>
          <%= round.score_5 %>
        </td>

        <td>
          <%= time_ago_in_words(round.created_at) %> ago
        </td>

        <td>
          <%= time_ago_in_words(round.updated_at) %> ago
        </td>

        <td>
          <a href="/rounds/<%= round.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>

    <div class="row mb-3">
      <div class="col-md-12">
        <%= paginate @rounds, theme: "twitter-bootstrap-4" %>
      </div>
    </div>

  </div>
</div>
