<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Round #<%= @round.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/rounds" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/rounds/<%= @round.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit round
        </a>
      </div>

      <div class="col">
        <a href="/delete_round/<%= @round.id %>" class="btn btn-block btn-outline-secondary">
          Delete round
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Bout
      </dt>
      <dd>
        <% if @round.bout.present? %>
          <a href="/bouts/<%= @round.bout_id %>">
            <%= @round.bout.level_id %>
          </a>
        <% end %>
      </dd>

      <dt>
        Team
      </dt>
      <dd>
        <% if @round.team.present? %>
          <a href="/teams/<%= @round.team_id %>">
            <%= @round.team.school_name %>
          </a>
        <% end %>
      </dd>

      <dt>
        Student
      </dt>
      <dd>
        <% if @round.student.present? %>
          <a href="/students/<%= @round.student_id %>">
            <%= @round.student.first_name %>
          </a>
        <% end %>
      </dd>

      <dt>
        Time
      </dt>
      <dd>
        <%= @round.time %>
      </dd>

      <dt>
        Score 1
      </dt>
      <dd>
        <%= @round.score_1 %>
      </dd>

      <dt>
        Score 2
      </dt>
      <dd>
        <%= @round.score_2 %>
      </dd>

      <dt>
        Score 3
      </dt>
      <dd>
        <%= @round.score_3 %>
      </dd>

      <dt>
        Score 4
      </dt>
      <dd>
        <%= @round.score_4 %>
      </dd>

      <dt>
        Score 5
      </dt>
      <dd>
        <%= @round.score_5 %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@round.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@round.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

