<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All students
    </h1>

    <a href="/students/new" class="btn btn-block btn-outline-secondary">
      Add a new student
    </a>
  </div>
</div>

<!-- Ransack Code start -->

<!-- Ransack Code end -->

<!-- Location Map Code start -->

<!-- Location Map Code end -->

<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          First name
        </th>

        <th>
          Last name
        </th>

        <th>
          Team
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @students.each do |student| %>
      <tr>
        <!-- Display student.id start -->
        <td>
          <%= student.id %>
        </td>
        <!-- Display student.id end -->

        <!-- Display student.first_name start -->
        <td>
          <%= student.first_name %>
        </td>
        <!-- Display student.first_name end -->

        <!-- Display student.last_name start -->
        <td>
          <%= student.last_name %>
        </td>
        <!-- Display student.last_name end -->

        <!-- Display student.team_id start -->
        <td>
          <%= student.team.school_name %>
        </td>
        <!-- Display student.team_id end -->

        <!-- Display student.created_at start -->
        <td>
          <%= time_ago_in_words(student.created_at) %> ago
        </td>
        <!-- Display student.created_at end -->

        <!-- Display student.updated_at start -->
        <td>
          <%= time_ago_in_words(student.updated_at) %> ago
        </td>
        <!-- Display student.updated_at end -->

        <td>
          <a href="/students/<%= student.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
