<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Student #<%= @student.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/students" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/students/<%= @student.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit student
        </a>
      </div>

      <div class="col">
        <a href="/delete_student/<%= @student.id %>" class="btn btn-block btn-outline-secondary">
          Delete student
        </a>
      </div>
    </div>

    <dl>
      <dt>
        First name
      </dt>
      <dd>
        <%= @student.first_name %>
      </dd>

      <dt>
        Last name
      </dt>
      <dd>
        <%= @student.last_name %>
      </dd>

      <dt>
        Team
      </dt>
      <dd>
        <% if @student.team.present? %>
          <a href="/teams/<%= @student.team_id %>">
            <%= @student.team.school_name %>
          </a>
        <% end %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@student.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@student.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "student_templates/student_rounds" %>
  </div>
</div>
