<% if @team.errors.any? %>
  <% @team.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>
  Edit team #<%= @team.id %>
</h1>

<hr>

<form action="/update_team/<%= @team.id %>" method="post">

  <div class="form-group">
    <label for="school_name">
      School name
    </label>

    <input type="text" id="school_name" name="school_name" class="form-control" value="<%= @team.school_name %>">
  </div>

  <div class="form-group">
    <label for="school_address">
      School address
    </label>

    <input type="text" id="school_address" name="school_address" class="form-control" value="<%= @team.school_address %>">
  </div>

  <div class="form-group">
    <label for="coach_id">
      Coach
    </label>

    <%= select_tag(:coach_id, options_from_collection_for_select(Coach.all, :id, :first_name, @team.coach_id), :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update team
  </button>
</form>

<hr>

<a href="/teams">
  Go back
</a>
