<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Bout #<%= @bout.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/bouts" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <!-- Edit link bout start -->
      <div class="col">
        <a href="/bouts/<%= @bout.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit bout
        </a>
      </div>
      <!-- Edit link bout end -->

      <!-- Delete link bout start -->
      <div class="col">
        <a href="/delete_bout/<%= @bout.id %>" class="btn btn-block btn-outline-secondary">
          Delete bout
        </a>
      </div>
      <!-- Delete link bout end -->
    </div>

    <dl>
      <dt>
        Level
      </dt>
      <!-- Display level_id start -->
      <dd>
        <% if @bout.level.present? %>
          <a href="/levels/<%= @bout.level_id %>">
            <%= @bout.level.stage %>
          </a>
        <% end %>
      </dd>
      <!-- Display level_id end -->

      <dt>
        Created at
      </dt>
      <!-- Display created_at start -->
      <dd>
        <%= time_ago_in_words(@bout.created_at) %> ago
      </dd>
      <!-- Display created_at end -->

      <dt>
        Updated at
      </dt>
      <!-- Display updated_at start -->
      <dd>
        <%= time_ago_in_words(@bout.updated_at) %> ago
      </dd>
      <!-- Display updated_at end -->
    </dl>
  </div>
</div>

<!-- Show Page Customization starts -->
<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "bout_templates/bout_team_assignments" %>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "bout_templates/bout_rounds" %>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "bout_templates/bout_teams" %>
  </div>
</div>
<!-- Show Page Customization end -->
